{% extends 'main.html' %} {% block content%}

<style>
  .show-container {
    display: grid;
    grid-template-columns: 3fr 1fr;
  }
</style>

<div class="show-container">
  <div>
    <h1>{{show.name}}</h1>
    <p>{{show.description}}</p>
  </div>

  <div>
    <h3>Theater</h3>
    <a href="{% url 'user-profile' show.host.user.id %}">{{show.host}}</a>
    <h3>Cast</h3>

    {% for member in cast %}
    <div>
      {% if member.talent.user.id %}
      <a href="{% url 'user-profile' member.talent.user.id %}">{{ member.talent.name }}</a>
      <span>{{ member.role }}</span>
      {% else %} 
      {{ member.talent.name }} 
      {% endif %}


    </div>
    {% endfor %}
  </div>
</div>

{% endblock %}
