<!DOCTYPE html>
<html lang="english">
  <head>
    <title>World of Shows</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="utf-8" />
    <meta property="twitter:card" content="summary_large_image" />

    <style data-tag="reset-style-sheet">
      html {
        line-height: 1.15;
      }
      body {
        margin: 0;
      }
      * {
        box-sizing: border-box;
        border-width: 0;
        border-style: solid;
      }
      p,
      li,
      ul,
      pre,
      div,
      h1,
      h2,
      h3,
      h4,
      h5,
      h6,
      figure,
      blockquote,
      figcaption {
        margin: 0;
        padding: 0;
      }
      button {
        background-color: transparent;
      }
      button,
      input,
      optgroup,
      select,
      textarea {
        font-family: inherit;
        font-size: 100%;
        line-height: 1.15;
        margin: 0;
      }
      button,
      select {
        text-transform: none;
      }
      button,
      [type="button"],
      [type="reset"],
      [type="submit"] {
        -webkit-appearance: button;
      }
      button::-moz-focus-inner,
      [type="button"]::-moz-focus-inner,
      [type="reset"]::-moz-focus-inner,
      [type="submit"]::-moz-focus-inner {
        border-style: none;
        padding: 0;
      }
      button:-moz-focus,
      [type="button"]:-moz-focus,
      [type="reset"]:-moz-focus,
      [type="submit"]:-moz-focus {
        outline: 1px dotted ButtonText;
      }
      a {
        color: inherit;
        text-decoration: inherit;
      }
      input {
        padding: 2px 4px;
      }
      img {
        display: block;
      }
      html {
        scroll-behavior: smooth;
      }
    </style>
    <style data-tag="default-style-sheet">
      html {
        font-family: Inter;
        font-size: 16px;
      }

      body {
        font-weight: 400;
        font-style: normal;
        text-decoration: none;
        text-transform: none;
        letter-spacing: normal;
        line-height: 1.15;
        color: var(--dl-color-gray-black);
        background-color: var(--dl-color-gray-white);
      }
    </style>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
      data-tag="font"
    />
    <link rel="stylesheet" href="../static/css/style.css" />
    <link href="../static/css/landing-page-option1.css" rel="stylesheet" />
  </head>

  <body>
    <div>
      <div class="landing-page-option1-container">
        <div class="landing-page-option1-landing-page-option1">
          <img
            src="../static/public/playground_assets/companylogo4313-0qg4-200h.png"
            alt="CompanyLogo4313"
            class="landing-page-option1-company-logo"
          />

          <form method="GET" action="{% url 'home' %}">
            <div class="landing-page-option1-group3636">
              <input
                type="text"
                name="q"
                placeholder="Search"
                class="landing-page-option1-search-input"
              />
              <button type="submit" class="landing-page-option1-search-button">
                <img
                  src="../static/public/playground_assets/akariconssearch4313-262a.svg"
                  alt="akariconssearch4313"
                  class="landing-page-option1-akariconssearch"
                />
              </button>
            </div>
          </form>

          <a href="#">
            <div class="landing-page-option1-frame47">
              <span class="landing-page-option1-text26"><span>Help</span></span>
              <img
                src="../static/public/playground_assets/akariconschevrondown4317-p8h.svg"
                alt="akariconschevrondown4317"
                class="landing-page-option1-akariconschevrondown1"
              />
            </div>
          </a>

          {% if request.user.is_authenticated %}
          <a href="{% url 'logout' %}">
            <div class="landing-page-option1-frame151">
              <span class="landing-page-option1-text02">
                <span>Sign Out</span>
              </span>
            </div>
          </a>
          {% else %}
          <a href="{% url 'login' %}">
            <div class="landing-page-option1-frame151">
              <span class="landing-page-option1-text02">
                <span>Sign In</span>
              </span>
            </div>
          </a>
          {% endif %}

          <!-- Flag icon -->
          <div class="landing-page-option1-frame847">
            <img
              src="../static/public/playground_assets/akariconschevrondown4314-rmk4.svg"
              alt="akariconschevrondown4314"
              class="landing-page-option1-akariconschevrondown"
            />
            <img
              src="../static/public/playground_assets/switcher4314-v6j3-200h.png"
              alt="Switcher4314"
              class="landing-page-option1-switcher"
            />
          </div>

          <span class="landing-page-option1-text30">
            <span>World of Shows</span>
          </span>

          <span class="landing-page-option1-text28">
            <span>
              Rorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc
              vulputate libero et velit interdum, ac aliquet odio mattis.
            </span>
          </span>

          <div class="landing-page-option1-group3653">
            <span class="landing-page-option1-text32">
              <span>Find Show</span>
            </span>
            <span class="landing-page-option1-text34">
              <span>current popular shows in your area.</span>
            </span>
            <a href="{% url 'home-shows' %}">
              <div class="landing-page-option1-frame884">
                <span class="landing-page-option1-text36">
                  <span>Find Show</span>
                </span>
              </div>
            </a>
            <a href="#">
              <img
                src="../static/public/playground_assets/image894318-08dc-200h.png"
                alt="image894318"
                class="landing-page-option1-image89"
              />
            </a>
            <a href="#">
              <img
                src="../static/public/playground_assets/image904318-ws55-200h.png"
                alt="image904318"
                class="landing-page-option1-image90"
              />
            </a>
            <a href="#">
              <img
                src="../static/public/playground_assets/image914318-rtlf-200h.png"
                alt="image914318"
                class="landing-page-option1-image91"
              />
            </a>
          </div>

          <div class="landing-page-option1-group3648">
            <span class="landing-page-option1-text50">
              <span><a href="#">Take Class</a></span>
            </span>
            <span class="landing-page-option1-text52">
              <span>popular classes for your interests.</span>
            </span>
            <a href="#">
              <div class="landing-page-option1-frame8843">
                <span class="landing-page-option1-text54">
                  <span>Take Class</span>
                </span>
              </div>
            </a>
            <a href="#">
              <img
                src="../static/public/playground_assets/image894321-qf6-200h.png"
                alt="image894321"
                class="landing-page-option1-image893"
              />
            </a>
            <a href="#">
              <img
                src="../static/public/playground_assets/image904321-0o8w-200h.png"
                alt="image904321"
                class="landing-page-option1-image903"
              />
            </a>
            <a href="#">
              <img
                src="../static/public/playground_assets/image914321-3hcp-200h.png"
                alt="image914321"
                class="landing-page-option1-image913"
              />
            </a>
          </div>

          <div class="landing-page-option1-group3652">
            <a href="#" class="landing-page-option1-text44">
              <span>Find Venue</span>
            </a>
            <span class="landing-page-option1-text46">
              <span>Looking for venue for your shows?</span>
            </span>
            <a href="#" class="landing-page-option1-frame8842">
              <span class="landing-page-option1-text48">
                <span>Find Venue</span>
              </span>
            </a>
            <a href="#">
              <img
                src="../static/public/playground_assets/image894320-v3l7-200h.png"
                alt="image894320"
                class="landing-page-option1-image892"
              />
            </a>
            <a href="#">
              <img
                src="../static/public/playground_assets/image904320-8y6e-200h.png"
                alt="image904320"
                class="landing-page-option1-image902"
              />
            </a>
            <a href="#">
              <img
                src="../static/public/playground_assets/image914320-d5te-200h.png"
                alt="image914320"
                class="landing-page-option1-image912"
              />
            </a>
          </div>

          <div class="landing-page-option1-group3646">
            <span class="landing-page-option1-text68">
              <span>Share Play Read</span>
            </span>
            <span class="landing-page-option1-text70">
              <span>Play read around your area.</span>
            </span>
            <a href="#">
              <div class="landing-page-option1-frame8846">
                <span class="landing-page-option1-text72">
                  <span>Share Play Read</span>
                </span>
              </div>
            </a>
            <a href="#">
              <img
                src="../static/public/playground_assets/image894324-ljdh-200h.png"
                alt="image894324"
                class="landing-page-option1-image895"
              />
            </a>
            <a href="#">
              <img
                src="../static/public/playground_assets/image904324-g6pj-200h.png"
                alt="image904324"
                class="landing-page-option1-image905"
              />
            </a>
            <a href="#">
              <img
                src="../static/public/playground_assets/image914324-tssr-200h.png"
                alt="image914324"
                class="landing-page-option1-image915"
              />
            </a>
          </div>

          <div class="landing-page-option1-group3651">
            <span class="landing-page-option1-text38">
              <span>Find Audition</span>
            </span>
            <span class="landing-page-option1-text40">
              <span>Find open castings and audition near you.</span>
            </span>
            <a href="#">
              <div class="landing-page-option1-frame8841">
                <span class="landing-page-option1-text42">
                  <span>Find Audition</span>
                </span>
              </div>
            </a>
            <a href="#">
              <img
                src="../static/public/playground_assets/image894319-65f8-200h.png"
                alt="image894319"
                class="landing-page-option1-image891"
              />
            </a>
            <a href="#">
              <img
                src="../static/public/playground_assets/image904319-2s8-200h.png"
                alt="image904319"
                class="landing-page-option1-image901"
              />
            </a>
            <a href="#">
              <img
                src="../static/public/playground_assets/image914319-fjbv-200h.png"
                alt="image914319"
                class="landing-page-option1-image911"
              />
            </a>
          </div>

          <div class="landing-page-option1-group3647">
            <span class="landing-page-option1-text62">
              <span>Share Audition</span>
            </span>
            <span class="landing-page-option1-text64">
              <span>Looking for the best candidates?</span>
            </span>
            <a href="#">
              <div class="landing-page-option1-frame8845">
                <span class="landing-page-option1-text66">
                  <span>Share Audition</span>
                </span>
              </div>
            </a>
            <a href="#">
              <img
                src="../static/public/playground_assets/image894323-m0o-200h.png"
                alt="image894323"
                class="landing-page-option1-image894"
              />
            </a>
            <a href="#">
              <img
                src="../static/public/playground_assets/image904323-9mrm-200h.png"
                alt="image904323"
                class="landing-page-option1-image904"
              />
            </a>
            <a href="#">
              <img
                src="../static/public/playground_assets/image914323-27f-200h.png"
                alt="image914323"
                class="landing-page-option1-image914"
              />
            </a>
          </div>

          <div class="landing-page-option1-group3649">
            <span class="landing-page-option1-text56">
              <span>Rent Venue</span>
            </span>
            <span class="landing-page-option1-text58">
              <span>Rent your venue and give details about your venue.</span>
            </span>
            <a href="#" class="landing-page-option1-frame8844">
              <span class="landing-page-option1-text60">
                <span>Rent Venue</span>
              </span>
            </a>
            <a href="#">
              <img
                src="../static/public/playground_assets/image924322-8olr-200h.png"
                alt="image924322"
                class="landing-page-option1-image92"
              />
            </a>
            <a href="#">
              <img
                src="../static/public/playground_assets/image934322-w4ki-200h.png"
                alt="image934322"
                class="landing-page-option1-image93"
              />
            </a>
            <a href="#">
              <img
                src="../static/public/playground_assets/image944322-g6op-200h.png"
                alt="image944322"
                class="landing-page-option1-image94"
              />
            </a>
          </div>

          <!-- Footer -->

          <div class="landing-page-option1-frame870">
            <!-- the footer -->
            <img
              src="../static/public/playground_assets/rectangle84314-dtxy-2000w.png"
              alt="Rectangle84314"
              class="landing-page-option1-rectangle8"
            />

            <div class="landing-page-option1-frame864">
              <a href="#" class="landing-page-option1-text04">
                <span>About</span>
              </a>
              <a href="#" class="landing-page-option1-text06">
                <span>Articles</span>
              </a>
              <a href="#" class="landing-page-option1-text08">
                <span>Careers</span>
              </a>
            </div>

            <div class="landing-page-option1-frame863">
              <a href="#" class="landing-page-option1-text20">
                <span>Offers</span>
              </a>
              <a href="#" class="landing-page-option1-text24">
                <span>Pricing Schemes</span>
              </a>
              <a href="#" class="landing-page-option1-text22">
                <span>Redeem Code</span>
              </a>
            </div>

            <div class="landing-page-option1-frame862">
              <a href="#" class="landing-page-option1-text12">
                <span>Support</span>
              </a>
              <a href="#" class="landing-page-option1-text14">
                <span>Frequently Asked Questions</span>
              </a>
              <a href="#" class="landing-page-option1-text18">
                <span>Account and Billing</span>
              </a>
              <a href="#" class="landing-page-option1-text16">
                <span>Contact Us</span>
              </a>
            </div>

            <!-- social icons -->
            <div class="landing-page-option1-frame866">
              <a href="#">
                <img
                  src="../static/public/playground_assets/akariconsinstagramfill4316-f9bh.svg"
                  alt="akariconsinstagramfill4316"
                  class="landing-page-option1-akariconsinstagramfill"
                />
              </a>
              <a href="#">
                <img
                  src="../static/public/playground_assets/akariconsfacebookfill4316-kmp.svg"
                  alt="akariconsfacebookfill4316"
                  class="landing-page-option1-akariconsfacebookfill"
                />
              </a>
              <a href="#">
                <img
                  src="../static/public/playground_assets/akariconstwitterfill4316-08r.svg"
                  alt="akariconstwitterfill4316"
                  class="landing-page-option1-akariconstwitterfill"
                />
              </a>
              <div class="landing-page-option1-akariconsyoutubefill">
                <a href="#">
                  <div class="landing-page-option1-group">
                    <div class="landing-page-option1-group1">
                      <img
                        src="../static/public/playground_assets/vector4317-3zdu.svg"
                        alt="Vector4317"
                        class="landing-page-option1-vector"
                      />
                    </div>
                  </div>
                </a>
              </div>
            </div>

            <div class="landing-page-option1-frame869">
              <img
                src="../static/public/playground_assets/companylogo4315-7a0g-200h.png"
                alt="CompanyLogo4315"
                class="landing-page-option1-company-logo1"
              />
              <div class="landing-page-option1-frame868">
                <img
                  src="../static/public/playground_assets/biccircle4315-o6w.svg"
                  alt="biccircle4315"
                  class="landing-page-option1-biccircle"
                />
                <span class="landing-page-option1-text10">
                  <span>World of Shows 2023</span>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
