{% extends 'main.html' %} {% block content%}
<style>
  .home-container {
    display: grid;
    grid-template-columns: 1fr 3fr;
  }
</style>

<div class="home-container">
  <div>
    <h3>Browse Genre</h3>
    <hr />
    <div>
        <a href="{% url 'home' %}">All</a>
    </div>

    {% for genre in genres %}
    <div>
        <a href="{% url 'home' %}?q={{genre.name}}">{{genre.name}}</a>
    </div>
    {% endfor%}
  </div>

  <div>
    <h5>{{shows_count}} shows available </h5>
    <a href="{% url 'post-show' %}">Post Show</a>
    <br>

    <div>
      {% for show in shows %}
      <div>
        <h3>
          <a href="{% url 'show' show.id %}"> {{show.name}} </a>
        </h3>

        <span>Theater: @{{show.host.username}} </span>
        <br>
        {% if request.user == show.host %}
        <a href="{% url 'update-show' show.id %}">Edit</a>
        <a href="{% url 'delete-show' show.id %}">Delete</a>
        {% endif %}
        <br>
        <small>{{show.genre.name}} </small>
        <hr>
      </div>
      {% endfor %}
    </div>
  </div>
</div>

{% endblock %}
